# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset - do not upload CICIDS2017 CSV files
data/*.csv

# Temporary files
*.tmp

# Environment/secrets
.env
# Large generated arrays - do not upload
models/X_train_scaled.npy
models/X_test_scaled.npy